<div class="row">
	<div class="col-xl">	
		<span style="margin-left: 15px;">Showing items {{ itemStart }} to {{ itemEnd }} out of {{ totalItems }}</span>	
	</div>
	<div class="col-xl">
		<ul class="pagination justify-content-center">
			<li class="page-item" v-for="item in itemsPerPageOptions" :class="{ active: itemsPerPage == item }">
				<a class="page-link" href="#" v-on:click.prevent="itemsPerPage = item">{{ item }}</a>
			</li>
		</ul>
	</div>
	<div class="col-xl">
		<ul class="pagination justify-content-end" style="margin-right: 15px;">
			<li class="page-item" :class="{ disabled: !showFirstPageButton }">
				<a class="page-link" href="#" v-on:click.prevent="firstPage">First</a>
			</li>
			<li class="page-item" :class="{ disabled: !showFirstPageButton }">
				<a class="page-link" href="#" v-on:click.prevent="previousPage">Previous</a>
			</li>
			<li>
				<input class="form-control" style="width: 75px;" type="text" v-model.number="currentPageUserInput" />
			</li>			
			<li class="page-item" :class="{ disabled: !showLastPageButton }">
				<a class="page-link" href="#" v-on:click.prevent="nextPage">Next</a>
			</li>
			<li class="page-item" :class="{ disabled: !showLastPageButton }">
				<a class="page-link" href="#" v-on:click.prevent="lastPage">Last</a>
			</li>
		</ul>
	</div>
</div>