<div>
	<div class="row py-3">
		<div class="col-md-5">
			<app-trip-details :tripId="tripId"></app-trip-details>
		</div>
		<div class="col-md-7">
			<app-trip-map :tripId="tripId"></app-trip-map>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-6">
			<app-trip-possible-places :tripId="tripId" type="START"></app-trip-possible-places>
		</div>
		<div class="col-md-6">
			<app-trip-possible-places :tripId="tripId" type="DESTINATION"></app-trip-possible-places>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-12">
			<app-trip-speed-chart :tripId="tripId"></app-trip-speed-chart>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-12">
			<app-trip-engine-chart :tripId="tripId"></app-trip-engine-chart>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-12">
			<app-trip-throttle-chart :tripId="tripId"></app-trip-throttle-chart>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-12">
			<app-trip-maf-chart :tripId="tripId"></app-trip-maf-chart>
		</div>
	</div>
	<div class="row py-3">
		<div class="col-md-12">
			<app-trip-temperature-chart :tripId="tripId"></app-trip-temperature-chart>
		</div>
	</div>
</div>