<div class="row">
	<h2>Car Tracker Trip</h2>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="pageAlert: $data.pageAlert"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-5">
		<div data-bind="tripDetails: $data.tripDetails"></div>
	</div>
	<div class="col-lg-7">
		<div data-bind="tripMap: $data.tripMap"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="tripSpeedChart: $data.tripSpeedChart"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="tripEngineChart: $data.tripEngineChart"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="tripThrottleChart: $data.tripThrottleChart"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="tripMAFChart: $data.tripMAFChart"></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div data-bind="tripTemperatureChart: $data.tripTemperatureChart"></div>
	</div>
</div>