
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title>CarTracker Test</title>		

		<!--  scripts -->	
		<script th:src="@{/js/jquery-3.1.1.js}" type="text/javascript"></script>
		<script th:src="@{/js/jquery-ui.js}" type="text/javascript"></script>
		<script th:src="@{/lib/bootstrap/js/bootstrap.js}" type="text/javascript"></script>
		<script th:src="@{/js/bootstrap-toggle.js}" type="text/javascript"></script>
		<script th:src="@{/js/knockout-3.4.0.debug.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment-timezone.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment-duration-format.js}" type="text/javascript"></script>
		<script th:src="@{/js/q.js}" type="text/javascript"></script>		
		<script th:src="@{/js/highcharts.js}" type="text/javascript"></script>

		<!-- css -->
		<link th:href="@{/lib/bootstrap/css/bootstrap.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap-toggle.css}" rel="stylesheet" />		
		<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
		<link th:href="@{/css/highcharts.css}" rel="stylesheet" />
		<link th:href="@{/css/site.css}" rel="stylesheet" />

	    <!-- Polyfill(s) for older browsers -->
	    <script th:src="@{/lib/core-js/shim.min.js}"></script>
	
	    <script th:src="@{/lib/zone.js/zone.js}"></script>
	    <script th:src="@{/lib/systemjs/system.src.js}"></script>
	
	    <script th:src="@{/systemjs.config.js}"></script>
	    <script>
	      System.import('app/navigation/main').catch(function(err){ console.error(err); });
	    </script>
	</head>
	
	<body>
		<navigation>Loading the awesome navigation</navigation>
	</body>
</html>