.content {
	padding-top: 15px;
	padding-bottom: 90px;
}

.col-bottom {
	padding-bottom: 15px;
}

.card.card-hover:hover {
	background: rgba(0,0,0,0.25);
}

a.no-color, a.no-color:visited, a.no-color:hover {
	color: inherit;
	text-decoration: inherit;
}

i.action-icon {
	cursor: pointer;
}

i.action-icon:hover {
	color: #0275d8;
}

.pagination select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-bottom: 0.45rem;
}

.pagination select::-ms-expand {
	display: none;
}

.pager-top {
	padding-top: 15px;	
}

.pager-bottom {}
