<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	
   	<settings>
	    <setting name="logImpl" value="SLF4J" />
	</settings>
    
	<typeAliases>
		<typeAlias alias="Car" type="com.ricex.cartracker.common.entity.Car"/>
		<typeAlias alias="Place" type="com.ricex.cartracker.common.entity.Place"/>
		<typeAlias alias="Reading" type="com.ricex.cartracker.common.entity.Reading"/>
		<typeAlias alias="Trip" type="com.ricex.cartracker.common.entity.Trip"/>
		<typeAlias alias="User" type="com.ricex.cartracker.common.entity.User"/>

	</typeAliases>	
	
	<mappers>
		<mapper resource="com/ricex/cartracker/data/mapper/CarMapper.xml" />
		<mapper resource="com/ricex/cartracker/data/mapper/PlaceMapper.xml" />
		<mapper resource="com/ricex/cartracker/data/mapper/ReadingMapper.xml" />
		<mapper resource="com/ricex/cartracker/data/mapper/TripMapper.xml" />
		<mapper resource="com/ricex/cartracker/data/mapper/UserMapper.xml" />

	</mappers>

</configuration>