
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		
		<!--  scripts -->	
		<script th:src="@{/js/jquery-3.1.1.js}" type="text/javascript"></script>
		<script th:src="@{/js/jquery-ui.js}" type="text/javascript"></script>
		<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
		<script th:src="@{/js/bootstrap-toggle.js}" type="text/javascript"></script>
		<script th:src="@{/js/knockout-3.4.0.debug.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment-timezone.js}" type="text/javascript"></script>
		<script th:src="@{/js/moment-duration-format.js}" type="text/javascript"></script>
		<script th:src="@{/js/q.js}" type="text/javascript"></script>		
		<script th:src="@{/js/require.js}" type="text/javascript"></script>
		<script th:src="@{/js/highcharts.js}" type="text/javascript"></script>
			
	
		<!-- css -->
		<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
		<link th:href="@{/css/bootstrap-toggle.css}" rel="stylesheet" />		
		<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
		<link th:href="@{/css/highcharts.css}" rel="stylesheet" />
		<link th:href="@{/css/site.css}" rel="stylesheet" />				
		
		<title>Car Tracker</title>
		
	</head>
	
	<body>		
	
		<input id="isAuthenticated" sec:authorize="isAuthenticated()" type="hidden" value="true" />
		<input id="googleMapsApiKey" type="hidden" th:value="${googleMapsApiKey}"/>
		
		<!--  need to load up the requrie config, after the google map api key -->		
		<script th:src="@{/app-ko/Common.js}" type="text/javascript"></script>	
		
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div id="navigationvm" data-bind="template: { name: 'Views/Navigation/Navigation.html', data: $data}"></div>	
			</div>
		</nav>
		
		<script type="text/javascript">
			var navigationDeferred = Q.defer();
			var navigationPromise = navigationDeferred.promise;
		
			require(["Views/Navigation/Navigation"], function(vm) {
				ko.applyBindings(new vm(), $("#navigationvm")[0]);
				
				navigationDeferred.resolve();
			});
		</script>
		
		<!-- the body of the page -->
		<div layout:fragment="content"></div>
		
		<!-- page footer -->		
		<footer th:replace="@{common/footer}"></footer>
		
		
	</body>
</html>