<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">	
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<a class="navbar-brand" href="/cartracker/">Car Tracker</a>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto" data-bind="foreach: $data.navigationLinks">
			<div data-bind="navigationLink: $data"></div>					
		</ul>
		<!--  ko if: $data.isAuthenticated -->
		<ul class="navbar-nav navbar-right" data-bind="foreach: $data.rightNavigationLinks">
			<div data-bind="navigationLink: $data"></div>	
		</ul>
		<!-- /ko -->
	</div>
</nav>