<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		<span class="navbar-toggler-icon"></span>
  	</button>
  	
	<a class="navbar-brand" href="#">Car Tracker</a>
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<app-nav-link v-for="link in navigationLinks" 
						  :key="link.id" 
						  :linkId="link.id"
						  :name="link.name"
						  :link="link.link"
						  :subLinks="link.subLinks"></app-nav-link>
		</ul>
		
		<ul class="navbar-nav navbar-right">
			<app-nav-link v-for="link in rightNavigationLinks" 
						  :key="link.id"
						  :linkId="link.id"
						  :name="link.name"
						  :link="link.link"
						  :subLinks="link.subLinks"
						  :right="true"></app-nav-link>
		</ul>
	</div>
</nav>	