<div class="card">
	<div class="card-header">
		Possible {{ typeDisplay }}
		<span class="float-right">			
			<i class="fa fa-refresh action-icon" aria-hidden="true" v-on:click="refresh" v-tooltip title="Refresh"></i>
		</span>
	</div>	
	<div v-if="possiblePlaces.length > 0">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>			
					<th></th>
					<th><app-column-header columnId="PLACE.NAME" columnName="Name" :enableSort="false"></app-column-header></th>									
					<th><app-column-header columnId="DISTANCE" columnName="Distance" :currentSort="currentSort" v-on:sort:update="sortUpdated" v-on:sort:clear="sortCleared"></app-column-header></th>									
				</tr>
			</thead>
			<tbody>
				<app-trip-possible-places-row v-for="possiblePlace in possiblePlaces" :key="possiblePlace.id" :possiblePlace="possiblePlace"></app-trip-possible-places-row>		
			</tbody>		
		</table>
		<app-pager :totalItems="totalItems" :currentPaging="currentPaging" v-on:paging:update="pagingUpdated"></app-pager>
	</div>
	<div class="card-block text-center" v-else>
		<p class="card-text">No Possible {{ typeDisplay }} are available for this trip!</p>
	</div>
</div>