
<html layout:decorator="common/layout" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
	<head>
		<title>CarTracker Login</title>
	</head>
	
	<body>	
		<div layout:fragment="content">

			<div class="container" style="width:500px">
				
				<form name="f" th:action="@{/login}" method="post" class="form-horizontal">
				
				
				
						<legend>Please Login</legend>
						<!-- If there was an error logging in, show an error alert -->
						<div th:if="${param.error}" class="alert alert-danger" role="alert">
							<strong>Error:</strong> Invalid username and/or password.
						</div>
						
						<!-- Show a message if you have been logged out -->
						<div th:if="${param.logout}" class="alert alert-success">						
							You have been logged out!
						</div>
						
						<!-- Show a message if you have registered successfully -->
						<div th:if="${param.registered}" class="alert alert-success">
							Registered Successfully! You can now log in!
						</div>
						
						
						<!-- username input -->
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" id="username" name="username" placeholder="Enter username"/>
						</div>
						
						<!-- password input -->
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
						</div>
						
						<!-- The login button -->				
						<button type="submit" class="btn btn-primary">Log in</button>					
				</form>
				
				
				<div style="padding-top: 15px"></div>
				<div id="divRegisterInfo" class="alert alert-info" role="alert">
					Don't have an account? <a th:href="@{/register}" class="alert-link">Register</a>
				</div>
				
			</div>
			
		</div>
	</body>
</html>