<div class="dropdown" style="display: block;" v-if="enableSort">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ columnName }}</a>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="#"><i class="fa fa-sort-amount-asc"></i>&nbsp;Sort Ascending</a>
		<a class="dropdown-item" href="#"><i class="fa fa-sort-amount-desc"></i>&nbsp;Sort Descending</a>
		<a class="dropdown-item" href="#"><i class="fa fa-close"></i>&nbsp;Clear Sort</a>
	</div>
</div>
<span v-else>
	{{ columnName }}
</span>